@font-face {
    font-family: Montserrat;
    src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('woff2 supports variations')
    url('./fonts/Montserrat-VariableFont_wght.ttf') format('woff2-variations');
    font-weight: 100 900;
}